target/
*.o
*.ppu
examples/gtk4/demo
examples/gtk4/demo_rqbasic
examples/sqlite/demo_rqbasic
examples/opengl/demo_rqbasic
examples/raylib/demo_rqbasic
examples/sdl2/demo_rqbasic
examples/**/*.ll
examples/vulkan/demo
examples/blaise-vulkan/demo
examples/blaise-gtk4/demo
